[Desktop Entry]
Name=Paranoia
Comment=RPG text adventure
Exec=paranoia.dge
Terminal=false
Type=Application
StartupNotify=false
Icon=paranoia
Categories=games;
